{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- <div> -->
    <!--  <p class="hometext">Welcome to our NaijaFaceVoice! It curates face and voice biometric datasets from online videos. With this advanced technology, you can easily extract valuable biometric data from video content by simply providing the URL. --> 
    <!-- </p> -->
<!-- </div> -->
<div class="container">
    <form action="/process_url" class="search-bar" method="post">
        <input type="text" placeholder="Insert URL" name="link">
        <button type="submit">Submit</button>
    </form>

</div>

{% endblock %}